@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Light.ttf.ttf) format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Regular.ttf) format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Medium.ttf.ttf) format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Semi\ Bold.ttf.ttf) format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Bold.ttf.ttf) format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Extra\ Bold.ttf.ttf) format('truetype');
    font-weight: 800;
}
@font-face {
    font-family: 'Belfast Grotesk';
    src: url(../fonts/belfast-grotesk/Belfast\ Grotesk\ Black.ttf.ttf) format('truetype');
    font-weight: 900;
}